#app-cont {
    width: 100%;
}
.dropdown-item p {
    border-bottom: 1px solid #EEE;
    padding: 10px;
}

.dropdown-item p:hover {
    background-color: #fafafa;
}

#item-cont{
    width: 100%;
}

.empty {
    height: 400px;
    color: #EEE;
}

.main-img {
    width: 100%;
    height: 250px;
}

#item-img-cont{
    width: 400px;
    margin: auto;
    overflow-x: scroll;
}

.other-img {
    border: 1px solid #EEE;
    width: 150px;
    height: 100px;
}

.item-img {
    cursor: pointer;
}

.item-info {
    width: 100%;
    margin: auto;
    text-align: center;
    border: 1px solid #EEE;
}

.icon-nav {
    padding: 60px;
}

.icon-nav:hover {
    background-color: #fafafa;
}

#dropdown {
    width: 20%;
}

.dropdown-item {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #item-img-cont {
        width: 250px;
    }
    .other-img {
        width: 100px;
        height: 50px;
    }
}